/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*Background*/ 
body{
    background-color: #393B43;
}
main{
    background-color: #393B43;
}
/* Párrafos y Títulos */
p{
    color: black;
    font-family:'Open Sans', sans-serif;  
}
h2{
    color: black;
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
h5{
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
}
h3{
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
h4{
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
/*Menú*/
header nav{
    background-color: #E2E2E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header nav img{
    width: 200px;
}
header nav ul{
    display: flex;
    list-style: none;
    column-gap: 50px ;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
/*Imágenes*/
.img-logo{
    height: 130px;
    width: 130px;
}
.img-home{
    height: 300px;
    border-radius: 10px;
}
#jordan{
    margin-left: 120px;
}
#badbunnycampuswild{
    margin-left: 50px;
}
footer{
    text-align: center;
}
#iniciarSesion{
    text-align: center;
}
.hoodies{
    height: 400px;
    width: 400px;
}
.imagenesHome{
    height: 400px;
    width: 400px;  
}
.ultimosLanzamientos{
    text-align: center;
    padding: 40px;
}
.remeras{
    height: 400px;
    width: 400px;
    text-align: center;
}
.pantalones{
    height: 400px;
    width: 400px;
    text-align: center; 
}
.sneakers{
    height: 400px;
    width: 400px;
    text-align: center;
}