/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* HTML */
html{
    height: 100%;
}
/* BODY */
body{
    font-family:'Open Sans', sans-serif;
    font-size: 1.2 rem;
    min-height: 100%;
}
/* HEADER */
.contenedor-header{
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
/* Párrafos y Títulos */
p{
    color: white;
    font-family:'Open Sans', sans-serif;  
}
h2{
    color: black;
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
h5{
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
}
h3{
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
/* NAVBAR */
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}


/*Imágenes*/
.iconlogo-header{
    height: 20px;
    width: 20px;
}
.img-logo{
    height: 110px;
    width: 110px;
}
#iniciarSesion{
    text-align: center;
}
/* Grid */
.grid-container{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 100px; 
}
.grid-header{
    grid-area: header;
    background-color: black;
}
.grid-navbar{
    grid-area: navbar;
    background-color: pink;
}
.grid-sidebar{
    grid-area: sidebar;
    background-color: purple;
}
.grid-main{
    grid-area: main;
    background-color: orange;
}
.grid-footer{
    grid-area: footer;
    background-color: green;
}
@media (min-width: 320px){
    .grid-container{
    grid-template:
        "header" 40px
        "navbar"
        "sidebar"
        "main"
        "footer"
    }}

@media (min-width: 768px) {
    .grid-container{
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer"; */
    grid-template: 
    "header header" 33px
    "navbar navbar" 50px
    "sidebar main"  auto
    "footer footer" 100px /
      200px  auto; 
}}
@media(min-width: 1024px) {
    .grid-container{
    grid-template: 
    "header header header" 33px
    "navbar main sidebar" auto
    "footer footer footer" 100px /
      200px  auto 200px;
    }}
